<!doctype html>
<html lang="en">
<head>
  <title>Opalin HTML Template - Log In</title>
  <meta charset="utf-8">
  <meta name="description" content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code.">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon-precomposed" href="media/favicon.png">
  <link rel="icon" href="media/favicon.png">
  <link rel="mask-icon" href="media/favicon.svg" color="rgb(36,38,58)">
  <link rel="shortcut icon" href="media/favicon.png">
<link rel="stylesheet" href="/styles.css" >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body class="page page-onboarding preload">

  <main>

    <a href="home.html" class="button button-close" role="button"></a>

    <section class="row no-gutter reverse-order">
      <div class="col-one-half middle padding">
        <div class="max-width-s">
          <h5>Welcome back.</h5>
          <p class="paragraph">Enter your details below.</p>
          <form action="/auth/login" method="POST">
            <div class="form-group">
              <label for="username">Username:</label>
              <input id="username" type="text" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input id="password" type="password" name="password">
            </div>
            <div>
            <button type="submit" class="button button-primary full-width space-top">Log In</button>
            </div>
           <div class="form-group">
            <br>
            {{#if message }}
            <h4 class="alert alert-success" role="alert">{{message}}</h4>
            {{/if}}
          </div>
          </form>
        </div>

        <div class="center max-width-s space-top">
          <span class="muted">Don't have an account? </span><a href="/register">Sign Up</a>
        </div>
      </div>
      <div class="col-one-half bg-image-04 featured-image"></div>
    </section>

  </main>

  <script src="js/main.js"></script>
</body>
</html>